*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12vw;
  line-height: 12vw;
  margin-bottom: 6vw;
  color: rgb(23, 136, 201);
  background-color: rgb(225, 241, 252);

  padding: 10px;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vw;
  color: rgb(255, 72, 0);
  background-color: rgb(255, 227, 216);

  padding: 10px;
}

.subtitle-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vw;
  margin-bottom: 32vw;
  color: gray;

  padding: 10px;
  border-radius: 20px;
}

.answer-form {
  position: fixed;
  bottom: 0;
  left: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.answer-form input,
.answer-form button {
  font-size: 8vw;
  border-radius: 0;
  outline: 1px solid gray;
  border: none;
  color: gray;
}

.answer-form button {
  background-color: rgb(240, 240, 240);
  height: 10vw;
}

@media screen and (max-width: 700px) {
  .answer-form input,
  .answer-form button,
  .answer-form {
    width: 100%;
  }
}

button.language-switch {
  position: fixed;
  top: 0;
  right: 0;

  font-size: 8vw;
  border-radius: 0;
  outline: none;
  border: 1px solid gray;
  color: rgb(12, 180, 49);
  background-color: rgb(225, 250, 215);
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: default;
}

.gems {
  max-width: 100%;
  display: none;
}

.gems img {
  max-width: 100px;
}

.draggable {
  position: fixed;
  top: 0;
  left: 0;
  cursor: grab;
  touch-action: none;
  -webkit-user-drag: none;
}

.draggable:active {
  cursor: grabbing;
}

.draggable .dragging {
  cursor: grabbing;
  z-index: 1000;
  transition: none;

  touch-action: none;
}
